*{
    font-family: 'Open Sans', sans-serif;
}

body{
    overflow-x: hidden;
}

section{
    /* border: 1px solid black;  */
    font-family: 'Open Sans', sans-serif;
    
}

.header{
    font-size: large;
    background-color: #add8e6;
    position: fixed;
    width: 100%;
    height: 60px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header-menu{
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin-right: 50px;
}

.header-menu a{
    text-decoration: none;
    color: black;
}

.header-menu a:hover{
    text-decoration: underline;
}

.home-section{
    font-family: 'Open Sans';
    padding-top: 60px;
    /* background-color: rgb(65, 81, 161); */
    background-image: url(../assets/img/pawel-czerwinski-obhi-sWUc5E-unsplash-huge.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: fit-content;
    max-height: 1600px;
}

.home-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}

.home-text-container h3{
    font-size: 85px;
}

.skills-section{
    font-family: 'Open Sans';
    padding: 100px 0px;  
}

.skills-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skills-left{
    display: flex;
    flex-direction: column;
}

.skills-header{
    padding: 40px;
    padding-bottom: 0px;
}

.skills-header h3{
    font-size: 65px;
    padding: 10px;
}

.skills-description{
    padding: 50px;
    line-height: 25px;
}

.skills-table{
    padding: 40px;
}

.logo-grid-row{
    display: flex;

}

.grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.label{
    width: 100%;
    padding: 0 60px;
    justify-content: center;
    align-items: center;
    
}

.logo-img{
    width: 100px;
    padding-bottom: 15px;
}

#mjml{
    padding-bottom: 23.13px;
}

#figma-box{
    justify-content: flex-start;
}

#sass-box{
    justify-content: flex-start;   
}

.logo-name{
    line-height: normal;
    text-align: center;
}


.fa-brands{
    width: 30px;
}

.about-section{
    font-family: 'Open Sans';
    padding: 100px 0px;
    /* background-color: #e2fbff; */
    background-image: url(../assets/img/ikhlas-rahman-eqL82KY9DJE-unsplash-huge.jpg);
    background-size: cover;
    min-height: 100vh;
    max-height: 1148px;
    height: fit-content;
}

.about-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-left{
    display: flex;
    flex-direction: column;
}

.about-header{
    padding: 40px;
    padding-bottom: 0px;
}

.about-header h3{
    font-size: 65px;
    padding: 10px;
}

.about-description{
    padding: 50px;
    line-height: 25px;
}

.button-row {
    display: flex;
    align-items: center;
    padding: 0px 40px;
}

.button-row img{
    height: 46px;
}

.resume-button{
    padding: 16px 50px;
    background-color: #D9D9D9;
    border-radius: 30px;
    text-decoration: none;
    color: black;
}

.resume-button:hover{
    background-color: #76ABDF;
}

.linkedin-button {
    padding: 0px 20px;
}

.about-right{
    display: flex;
    flex-direction: column;
}

.photo-frame{
    padding: 65px;
    width: 500px;
    height: 700px;
    
}

.photo-frame img{
    background-color: white;
    border: black 1px solid;
    padding: 15px;
    width: 400px;
}

.portfolio-section{
    font-family: 'Open Sans';
    padding: 100px 0px;
    min-height: 100vh;
    height: fit-content;
}

.portfolio-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.portfolio-header{
    padding: 40px;
    padding-left: 160px;
    
}

.portfolio-header h3{
    font-size: 65px;
    padding: 10px;
}

.portfolio-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
}

.portfolio-grid-row {
    display: flex;
    flex-wrap: wrap;
    
}

.portfolio-gird-item {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    
    
    
    padding: 25px;
}

.portfolio-gird-item img{
    width: 400px;
    
    border: 1px black solid;
}

.portfolio-label{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    background-color: rgb(242, 244, 240);
    width: 400px;
}

.portfolio-links {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    width: 300px;
}

.portfolio-buttons {
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 30px;

}

.portfolio-buttons a{
    text-decoration: none;
    color: black;
}

.portfolio-buttons:hover {
    background-color: #76ABDF;
}

.contact-section {
    padding: 100px 0px;
    min-height: 100vh;
    max-height: 160vh;
    height: fit-content;
    background-image: url(../assets/img/ikhlas-rahman-Dw7tPLBK13c-unsplash-huge.jpg);
    background-size: cover;
}

.contact-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contact-left{
    display: flex;
    flex-direction: column;
}

.contact-header{
    padding: 25px;
    padding-bottom: 0px;
}

.contact-text{
    padding: 40px;
    line-height: 25px;
}

.contact-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.contact-header h3{
    font-size: 50px;
    padding: 10px;
}

.contact-right{
    width: 600px;
    padding: 45px 0px;
}

.contact-right input{
    width: 600px;
    padding: 6px;
    margin-bottom: 10px;
}

.contact-right textarea{
    width: 600px;
    padding: 6px;
    margin-bottom: 10px;
}

.contact-right button{
    width: 150px;
    padding: 6px;
    border-radius: 30px;
    border: black 1px solid;
}

.contact-right button:hover{
    background-color: #76ABDF;
}

.footer{
    font-size: large;
    background-color: lightblue;
    padding: 20px;
}

.footer-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-links{
    padding-bottom: 10px;
}

.footer-text{
    font-size: medium;
    text-align: center;
}

@media (max-width: 2560px) {
    .portfolio-header {
        padding-left: 530px;
    }    
}

@media (max-width: 1440px) {
    .portfolio-header {
        padding-left: 90px;
    }    
}

@media (max-width: 768px) {
    .portfolio-header {
        padding-left: 100px;
    }    
}

/* Phone layout */
@media (max-width: 600px) {

    .header{
        width: 100vw;
        max-width: 600px;
    }

    .header-menu{
        display: none;
        max-width: 400px;
        width: 100%;
    }

    section{
        width: 100%;
        max-width: 600px;
    }

    .home-section{
        width: 100%;
    }
    
    .home-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px;
    }
    
    .home-text-container h3{
        font-size: 55px;
        padding: 5px 0px;
    }

    .home-textblock {
        display: flex;
        flex-direction: column;
    }
    
    .skills-container{
        flex-wrap: wrap;
        max-width: 600px;
        width: 100%;
    }

    .skills-right{
        max-width: 600px;
        width: 100%;
    }

    .grid-item{
        padding: 10px;
    }
    
    .about-section{
        height: 1148px;
        padding: 25px 0px;
    }

    .about-container {
        flex-wrap: wrap;
        justify-content: left;
    }

    .about-right{
        padding: 0px 30px;
        padding-top: 40px;
    }

    .photo-frame{
        padding: 10px;
        max-width: 300px;
        width: 100%;
        max-height: 400px;
        height: 100%;
    }

    .photo-frame img{
        padding: 10px;
        max-width: 400px;
        width: 100%;
    }

    .portfolio-section {
        height: auto;
    }

    .portfolio-header{
        padding: 40px;
    }

    .portfolio-grid{
        padding: 65px;
    }

    .portfolio-grid-row{
        flex-direction: column;
    }

    .portfolio-gird-item img{
        max-width: 400px;
        width: 100%;
    }
    
    .portfolio-label{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border: 1px solid black;
        background-color: rgb(242, 244, 240);
        max-width: 400px;
        width: 100%;
    }
    
    .portfolio-links {
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
        max-width: 300px;
        width: 100%;
    }
    
    .contact-container{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .contact-left{
        width: 100%;
        max-width: 600px;    
    }

    .contact-right{
        width: 100%;
        max-width: 600px;
    }

    .contact-form{
        padding: 0px 30px;
        align-self: flex-start;
    }

    .contact-right input{
        width: 100%;
        max-width: 400px;
    }

    .contact-right textarea{
        width: 100%;
        max-width: 400px;
    }

    .footer{
        max-width: 600px;
        width: 100%;
    }
}

/*Small Phone layout */
@media (max-width: 400px) {
    .skills-table {
        padding: 20px;
    }

    .grid-item{
        padding: 5px;
    }

    .about-container{
        align-items: center;
    }

    .photo-frame img{
        max-width: 300px;
    }
}

@media (max-width: 320px) {
    
    .home-text-container{
        padding: 50px;
    }

    .logo-img{
        width: 80px;
    }

    .button-row{
        padding: 0px 10px;
    }

    .portfolio-header h3{
        font-size: 50px;
    }


}